body {
  background-color: #EAF6F6;
}

img {
  width: 210px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 2%;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}
